* {
padding :0px;
margin :0px;
}

body {
	width: 500px;
	margin: auto;
    word-wrap: break-word;
    white-space:pre-word;
}

sup {
	font-size: 70%;
}

#weightP {
    margin-top:10px;
    }

#heightP {
    margin-top:10px;
    }

.unitLabel {
	padding: 2px;
	font-family: Georgia, "Times New Roman",Times, serif;
	font-size:14px;
}

.unitRadio {
	padding-left: 2px;
    margin-right: 4px;
    margin-left: 4px;
	padding-bottom: 2px;
}

#unit {
	border: 1px dotted #333333;
	font-family: Georgia, "Times New Roman",Times, serif;
	font-size:14px;
    margin-top:22px;
    padding:4px;
}

#calcButton {
	padding: 2px;
	text-align:center;
	width:100px;
	height:28px;
    margin-top:20px;
}

#height {
	padding: 2px;
	width: 198px;
    height:15px;
}
#weight {
	padding: 2px;
	width: 198px;
    height:15px;
}

#calculator
{
    height: 100%;
    width: 100%;
}

#inputs {
	height: 265px;
	display: block;
    width: 208px; 
	position:relative;
	border: 1px solid #333333;
	background-color: #dddddd;
	padding :4px;
	margin: 20px auto;
}
#result {
    height: 265px;
    width: 420px;
	background-color:white;
	padding :4px;
	margin: 20px auto;
	text-align:center;
	position: relative;
	display: block;
}
#result p {
	text-align:center;
	line-height:1.35;
}

#inputs p {
	line-height:1.35;
}

#result #numbers {
	text-align:left;
	width:424px;
	margin-top :-40px;
	font-weight:bold;
	font-family: Arial,Helvetica,Sans-serif,Sans;
	font-size:14px;
}

#result #numbers #firstNumber{
	margin-left:2px;
}

#result #numbers #secondNumber{
	margin-left:4px;
}
#result #numbers #thirdNumber{
	margin-left:14px;
}
#result #numbers #forthNumber{
	margin-left:84px;
}
#result #numbers #fifthNumber{
	margin-left:66px;
}
#result #numbers #sixthNumber{
	margin-left:59px;
}
#result #numbers #seventhNumber{
	margin-left:60px;
}
#inputs h2 {
	text-align:center;
	line-height: 1;
    margin-top:12px;
}
#calc {
	text-align:center;
}

#graph {
	width:400px;
	height:100px;
	color: #fff;
	padding-left:3px;
	padding-right:3px;
}
#line {
	stroke:#000000; 
	stroke-linecap:round; 
	stroke-width:4;
	display:none;
}
#bmiDiv {
	font-size:24px;
	font-family: Arial,Helvetica,Sans-serif,Sans;
	text-align:center;
    margin-top:20px;
}

#bmiP1 {
	display:none;
}

#bmiP2 {
	display:none;
    margin-top:14px;
}

#bmiLabel {
	font-family: Georgia, "Times New Roman",Times, serif;
	font-size:20px;
}
